.btns__btn {
  padding: 5px 10px;
  border: 1px solid #FFCC00;
  min-width: 118px;
  border-radius: 6px;
  color: #666666;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  min-height: 100vh;
  font-family: "Raleway", sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #666666;
}

.container {
  max-width: 1140px;
  padding: 121px 0;
  margin: 0 auto;
}

.head {
  text-align: center;
  text-transform: uppercase;
}
.head__subtitle_subt {
  color: #898F8F;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 15px;
}
.head__title {
  font-family: "Roboto";
  font-weight: 900;
  font-size: 60px;
  line-height: 66px;
  color: #FFCC00;
  margin-bottom: 40px;
}
.head__icon {
  position: relative;
  display: inline-block;
}
.head__icon::before, .head__icon::after {
  content: "";
  position: absolute;
  top: 6px;
  height: 2px;
  width: 210px;
  background-color: #FFCC00;
}
.head__icon::after {
  left: 20px;
}
.head__icon::before {
  left: -210px;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}

.d-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  gap: 185px;
}

.section {
  padding: 70px 0;
  color: #666666;
}
.section::before {
  content: "";
  position: absolute;
  left: 219px;
  height: 2px;
  width: 560px;
  background-color: #FFCC00;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.section__wrapper {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: column;
  gap: none;
}
.section__title {
  position: relative;
  font-family: "Roboto";
  font-weight: 900;
  font-size: 36px;
  line-height: 42px;
  text-transform: capitalize;
  margin-bottom: 60px;
}
.section__title::after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 60px;
  height: 2px;
  width: 100px;
  background-color: #FFCC00;
}
.section__subtitle {
  font-size: 24px;
  line-height: 36px;
  text-transform: capitalize;
  margin-bottom: 30px;
}
.section__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #333333;
  margin-bottom: 49px;
}

.decor__item {
  content: " ";
  max-width: 20px;
  max-height: 4px;
  background-color: #FFCC00;
}

.list {
  display: flex;
  justify-content: none;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  list-style: none;
  margin-bottom: 49px;
}

.link__icon {
  stroke: #CCCCCC;
  fill: #CCCCCC;
}

.btns {
  position: relative;
}
.btns::before {
  content: "";
  position: absolute;
  width: 50px;
  height: 4px;
  top: -25px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  background: linear-gradient(to left, #ffcc00 20%, #fff 20% 30%, #ffcc00 30% 70%, #fff 70% 80%, #ffcc00 80%);
}
.btns__btn {
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 14px;
  text-align: center;
  text-transform: uppercase;
}